.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .logo {
    height: 100px;
    margin-right: 10px;
  }