<app-navbar>
<div class="contact-card">
    <h3>Contact Us</h3>
    <ul class="contact-list">
      <li>
        <a href="https://www.instagram.com/pasraisy" target="_blank" class="contact-link">
          <img src="assets/icons8-instagram-50.png" alt="Instagram" class="contact-icon"> Instagram
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/user" target="_blank" class="contact-link">
          <img src="assets/icons8-linkedin-50.png" alt="LinkedIn" class="contact-icon"> LinkedIn
        </a>
      </li>
      <li>
        <a href="https://wa.me/010" target="_blank" class="contact-link">
          <img src="assets/icons8-whatsapp-50.png" alt="WhatsApp" class="contact-icon"> WhatsApp
        </a>
      </li>
    </ul>
  </div>
</app-navbar>
  